* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: iran-yekan;
  src: url("../fonts/transfonter.org-20240701-082522/IRANYekanWeb.eot");
  src: url("../fonts/transfonter.org-20240701-082522/IRANYekanWeb.ttf");
  src: url("../fonts/transfonter.org-20240701-082522/IRANYekanWeb.woff");
  src: url("../fonts/transfonter.org-20240701-082522/IRANYekanWeb.woff2");
}
@font-face {
  font-family: tahoma;
  src: url(../fonts/Wtahoma.eot);
  src: url(../fonts/Wtahoma.ttf);
  src: url(../fonts/Wtahoma.woff);
  src: url(../fonts/Wtahoma.woff2);
}
:root {
  --fontfamily: iran-yekan;
  --fonts: iran-yekan;
  --fontTahoma: tahoma;
}
